{% extends "TOOSS/base.html" %}
{% load static %}

{% block title %}
  Your shopping cart
{% endblock %}

{% block content %}
  <h1>Your Shopping Cart</h1>
  <table class="cart">
    <thead>
      <tr>
        <th>Image</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Remove</th>
        <th>Unit price</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with inventory=item.inventory %}
          <tr>
            <td>
              <a href="{{ inventory.get_absolute_url }}">
                <img src="{% if inventory.image %}{{ inventory.image.url }}{% else %}{% static "images/placeholder.png" %}{% endif %}">
              </a>
            </td>
            <td>{{ inventory.item_name }}</td>
            <td>
              <form action="{% url "cart:cart_add" inventory.item_id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                <input type="submit" value="Update">
                {% csrf_token %}
              </form>
            </td>
            <td><a href="{% url "cart:cart_remove" inventory.item_id %}">Remove</a></td>
            <td class="num">${{ item.item_cost }}</td>
            <td class="num">${{ item.total_item_cost }}</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>Total</td>
        <td colspan="4"></td>
        <td class="num">${{ cart.get_total_price }}</td>
      </tr>
    </tbody>
  </table>
  <p class="text-right">
    <a href="{% url "TOOSS:inventory_list" %}" class="button light">Continue shopping</a>
    <a href="" class="button">
      Checkout
    </a>
  </p>
{% endblock %}