{% extends "TOOSS/base.html" %}

{% block content %}
    {% if validlink %}
        <p style="text-align: center;font-size:25px">Please enter (and confirm) your new password.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table style="margin-left:auto;margin-right:auto;margin-top:25px">
                <tr>
                    <td style="text-align: center;font-size:20px;">{{ form.new_password1.errors }}
                        <label style="text-align: center" for="id_new_password1">New password:</label></td>
                    <td style="text-align: center">{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td style="text-align: center;font-size:20px;">{{ form.new_password2.errors }}
                        <label style="text-align: center" for="id_new_password2">Confirm password:</label></td>
                    <td style="text-align: center">{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td style="text-align: center"><input type="submit" value="Change my password"></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1 style="text-align: center">Password reset failed</h1>
        <p style="text-align: center">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}