<!DOCTYPE html>
<html lang="en">
{% extends 'TOOSS/base.html' %}
{% load static %}
{% block content %}
  <body>

      <h1>Orders</h1>

  <div id="inv">
          <div class="container">
            {% for order in orders %}
              <ul>
                  <li class="order_id">Item Name: {{ order.order_id }}</li>
                  <li>Paid: {{ order.order_paid }}</li>
                  <!--<li><img class="invimg" src="{% static 'images/placeholder.png'%}" alt="placeholder"></li> -->
                  <li>Date: {{ order.order_create_date }}</li>
                  <li>Update Date: {{ order.order_update_date }}</li>
                  <li>User Name: {{order.user_name}}</li>
                  <li></li>
                  <li></li>
                  <li></li>


              </ul>
            {% endfor %}
          </div>
  </div>

  </body>
{% endblock %}
</html>