<!DOCTYPE html>
<html lang="en">
{% extends 'TOOSS/base.html' %}
{% load static %}
{% block content %}

        <h1>Verify Payment</h1>
        <p style="text-align: center;font-size:25px;">Please, fill out the following information:</p>
    <h1>User Name: {{ current_user }}</h1>
    <h1>Order Number: {{ order_id }}</h1>
    <div id="inv">
    <form action="{% url 'TOOSS:payment_verf' %}" method="post">

    {{ order_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Submit Order"></p>
    </form>
    </div>
{% endblock %}
</html>