{% extends "TOOSS/base.html" %}

{% block content %}


    <h1 style="text-align: center;">Create an account</h1>

    {% if notCorrect != ""  %}
        <p style="color: red">{{ notCorrect }}</p>
    {% endif %}
    <p style="text-align: center;font-size:25px;">Please, fill out the following information:</p>
    <div id="">
    <form action="{% url 'TOOSS:register' %}" method="post">

    {{ user_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Create my account"></p>
    </form>
    </div>
{% endblock %}